<!DOCTYPE>

<html>
    <head>
        <title>Who Am I</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1 class="text-center">Request Header Parser Microservice</h1>
            
            <h3>User stories:</h3>
            <ul>
            <li>I can get the IP address, language and operating system for my browser.</li>
            </ul>
            <h3>Usage: </h3>
            <a href="/whoami/meta" target="__blank">Who Am I?</a>
            </div>
    </body>
</html>
